body {
  overflow-y: scroll;
}

.container {
  display: flex;
}

.m-container {
  display: flex;
  width: 100%;
}

.a-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 32px auto 0px;
  padding-bottom: 32px;
  width: 935px;
  height: 799px;
}

.l-content {
  margin: 0px 32px 12px 0px;

  width: 380px;
}

.l-content-img {
  margin-bottom: 18px;
  width: 100%;
}

.r-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 12px;

  width: 350px;
  height: 755px;
}

.f-container {
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  padding: 10px 0px;

  background-color: white;
}

.b-logo {
  display: flex;
  justify-content: center;

  margin: 22px auto 12px;
  width: 175px;
  height: 51px;
}

.items-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.items-group > a {
  margin-top: 12px;
  font-size: 12px;
  color: #385185;
}

.items-group-form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.input-items {
  position: relative;
  text-align: center;
  margin: 0px 40px 6px;
}

.items-group-form .input-items:nth-last-child(3) {
  margin-top: 8px;
}

.items-group-form .input-items:nth-last-child(2) {
  margin-top: 10px;
  margin-bottom: 18px;
}

.items-group-form .input-items:nth-last-child(1) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.input-items label {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 13px;
  font-weight: 300;
  color: rgb(142, 142, 142);
  transition: 0.1s;
}

/* .input-items label {
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 11px;
  font-weight: 300;
  color: rgb(142, 142, 142);
} */

.input-items input {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline: none;
  padding: 16px 0px 2px 8px;
  width: 268px;
  height: 38px;

  font-size: 12px;
  background-color: #fafafa;
}

.input-items input[type="password"] {
  letter-spacing: 1px;
}

.input-items button {
  width: 100%;
  height: 30px;

  border: none;
  border-radius: 4px;

  color: white;
  font-weight: 500;

  background-color: rgb(0, 149, 246);
  cursor: pointer;
}

.hr-sect {
  display: flex;
  align-items: center;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background-color: #dbdbdb;
  height: 1px;
}

.hr-sect span {
  margin: 0px 15px;
  line-height: 15px;
  color: #8e8e8e;
  font-weight: 500;
}

.facebook-login span {
  color: #385185;
  font-weight: 500;
  word-spacing: 3px;
}

.facebook-login span i {
  font-size: 18px;
  margin: 0px 5px;
}

.signup-items p {
  margin: 15px;
}

.signup-items p a {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #0095f6;
}

.r-content-footer {
  height: 102px;
}
