.account-container {
    display: flex;
    margin: 30px auto 0;
    width: 935px;
    height: 854px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.account-nav-list {

    width: 237px;
    height: auto;
    border-right: 1px solid #dbdbdb;
}

.account-nav-list li {
    width: 236px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
}

.not-selected {
    border-left: 2px solid transparent;
}

.selected {
    border-left: 2px solid #262626;
    font-weight: 500;
}

.not-selected:hover {
    border-left: 2px solid rgb(219, 219, 219);
}

.account-nav-list li a {
    padding: 16px 16px 16px 30px;
    display: block;

    width: 100%;
    height: 100%;
    line-height: 20px;
    font: inherit;
    color: #262626;
}

.account-nav-list-a-typed {
    font-weight: 500;
}

.account-items-area {
    width: 696px;
    height: 852px;
}

.profile-info {
    display: flex;
    margin-top: 32px;
    width: 696px;
    height: 40px;
}

.profile-img-box {
    margin: 2px 32px 0px 124px;
}

.profile-info img {
    width: 38px;
    height: 38px;
}

.username-box {
    width: 116.8px;
    height: 40px;
}

.username-box h1 {
    font-size: 24px;
    font-weight: 400;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin: 32px 0 16px;
    height: auto;
}

.introduce-input {
    max-width: 355px;
    min-width: 355px;
    height: 60px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.form-box>div {
    display: flex;
    margin: 0px 0px 16px;
    width: 696px;
    height: 40px;
}

.form-box div div {
    margin-top: 6px;
    display: flex;
    justify-content: end;
    width: 194px;
}

.form-box div span {
    
    padding: 0px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.form-box div input {
    padding: 4px 12px;
    width: 442px;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    letter-spacing: 2px;
    line-height: 40px;
}



.password-button {
    margin-top: 10px;
    border: none;
    width: 107.86px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

    background-color: rgba(0, 149, 246, 0.3);
    color: white;
}

.forget-password {
    display: block;
    line-height: 50px;
    color: #0095f6;
    font-size: 14px;
    font-weight: 500;
}