<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
    <link rel="stylesheet" href="/app/static/css/nav.css">
    <link rel="stylesheet" href="/app/static/css/account.css">
    <script src="https://kit.fontawesome.com/ede2458143.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="container">
        <main class="m-container">
            <nav class="nav-container">
                <div class="nav-bar">
                    <h1 class="b-logo"><img src="/app/static/images/instagram_logo.PNG"></h1>
                    <div class="nav-bar-search-box">
                        <div class="nav-bar-search-input">
                            <input type="search" placeholder="검색">
                        </div>
                    </div>
                    <ul class="nav-bar-items">
                        <li><i class="fa-solid fa-house"></i></li>
                        <li><i class="fa-solid fa-square-plus"></i></li>
                        <li>
                            <div class="profile-img-border">
                                <img src="/app/static/images/instagram.jpg">
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="container">

            </div>

        </main>
        <footer>

        </footer>
    </section>
</body>

</html>